__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
.env
*.sqlite3
*.log
*.pot
*.mo
*.pyo
*.pyd
.DS_Store
.idea/
.vscode/
*.db
*.bak
*.swp
*.swo
*.tmp
*.coverage
.coverage.*
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.cache/
*.orig
*.rej
*.ipynb_checkpoints/
repo_langchain_1.0/

langfuse_repo/
